{% extends "base.html" %}
{% load staticfiles %}

{% block title %}World Water Day | Water.org{% endblock %}
{% block head_extra %}
<meta name="description" content="World Water Day occurs on the 22nd day in March every year to bring awareness to the global water crisis.">
{% endblock %}

{% block main %}
<div class="row">
    <style>
        .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
        .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
    </style>
    <div class='embed-container'>
        <iframe src='https://www.youtube.com/embed/1DfkUEJAxR4?autoplay=1' frameborder='0' allowfullscreen></iframe>
    </div>
</div>

<div class="pattern-bg">
    <div class="row">
        <div class="si-top col-sm-12">
            <h1 class="si-title">Celebrate World Water Day</h1>
            <p class="si-title-intro">Water doesn't just keep us alive, it gives us everything that makes life worth living. Take a moment to celebrate all the good things water gives.</p>
            <p class="si-widget-intro">What does water give you?</p>
        </div>
    </div>

    <div class="row">
        <div class="si-widget-wrapper col-md-6">
            {% include "fragments/form-share-image.html" %}
        </div>
        {% include "fragments/share-image-examples.html" %}
    </div>
</div>

<div class="row row-story">
    <div class="social-icons">
        <a target="_blank" class="social-icon" href="https://www.facebook.com/water/">
            <img class="social-icon-img" src="{% static "img/icon-fb.png" %}" alt="Facebook Icon" />
        </a>
        <a target="_blank" class="social-icon" href="https://www.twitter.com/water/">
            <img class="social-icon-img" src="{% static "img/icon-tw.png" %}" alt="Twitter Icon" />
        </a>
    </div>
    <img class="hidden-xs img-responsive" src="{% static "img/RenukaPicture.jpg" %}" />
    <img class="visible-xs img-responsive" src="{% static "img/RenukaPicture-mobile.jpg" %}" />
    <div class="visible-xs col-xs-12">
        <p>Renuka's new tap gives her so much more than safe water. By freeing her from waiting in long lines at public water points, her new water connection gives her the ability to work each day and earn a steady living. And, because she no longer has to carry painfully heavy vessels of unsafe water, Renuka's tap gives her a newfound strength and a healthy life.</p>
    </div>
</div>

<div class="row row-sub-actions" style="text-align:center">
    <h2 class="section-header">3 Ways to Give Water</h2>
    <div class="col-md-4 sub-action">
        <p>
            <a target="_blank" href="https://contribute.water.org/donate/slim/?r=r&utm_campaign=water_day&utm_medium=web&utm_source=water_day">
                <img src="{% static "img/365daysofwater.jpg" %}" />
            </a>
        </p>
        <p>We invite you to become a monthly donor so you can help transform lives with safe water all year long.</p>
        <p>
            <a class="sub-action-link" target="_blank" href="https://contribute.water.org/donate/slim/?r=r&utm_campaign=water_day&utm_medium=web&utm_source=water_day">MAKE A MONTHLY GIFT</a>
        </p>
    </div>
    <div class="col-md-4 sub-action">
        <p>
            <a target="_blank" href="http://donateaphoto.com/en_US/cause/waterorg-clean-water-2016?utm_campaign=water_day&utm_medium=web&utm_source=water_day">
                <img src="{% static "img/jandj_logo.jpg" %}" />
            </a>
        </p>
        <p>Share the power of water by donating a photo. For each photo donated via the Donate A Photo App, Johnson &amp; Johnson will donate $1 to Water.org.*</p>
        <p>
            <a class="sub-action-link"target="_blank" href="http://donateaphoto.com/en_US/cause/waterorg-clean-water-2016?utm_campaign=water_day&utm_medium=web&utm_source=water_day">DONATE A PHOTO</a>
        </p>
    </div>
    <div class="col-md-4 sub-action">
        <p>
            <a target="_blank" href="http://www.sevenly.org/collections/water-org">
                <img src="{% static "img/ways_03_2016.jpg" %}" />
            </a>
        </p>
        <p>Wear your support. Shop from Sevenly's exclusive collection that will donate 7% per item to Water.org.</p>
        <p>
            <a class="sub-action-link" target="_blank" href="http://www.sevenly.org/collections/water-org">VISIT SEVENLY</a>
        </p>
    </div>
</div>
{% endblock %}

{% block footer_js %}
    <script type="text/javascript">
        $(document).ready(function() {
            $(".social-icon-img").hover(
                function () {
                    $(this).attr('src', $(this).attr('src').replace(/\.png/, '-hover.png') );
                },
                function () {
                    $(this).attr('src', $(this).attr('src').replace(/-hover.png/, '.png') );
                }
            );
        });
    </script>
{% endblock %}
