{% load staticfiles %}

<form class="form form-si-widget" action="{% url 'share_image' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}

    {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    {% if form.image.errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in form.image.errors %}
        {{ error|escape }}<br />
        {% endfor %}
    </div>
    {% endif %}

    <div class="si-widget-file">
        <img class="si-widget-img img-responsive" src="{% static "img/transparent.png" %}" />
        <div class="btn-file-wrapper">
            <span class="btn button-default btn-file">
                1. UPLOAD A PHOTO <input id="id_image" name="image" type="file">
            </span>
            <div id="si-widget-file-notify"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 siwf-wrapper">
            <div class="si-widget-field">
                {% if form.word.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.word.errors %}
                    {{ error|escape }}<br />
                    {% endfor %}
                </div>
                {% endif %}
                {{ form.word }}
            </div>
        </div>

        <div class="col-sm-6 siwf-wrapper">
            <button type="submit" class="btn button-default si-widget-submit">3. SEE MY PHOTO</button>
        </div>
    </div>
</form>
