{% load staticfiles %}

<div class="si-examples col-md-6">
    <div class="si-example col-sm-6"><img class="img-responsive" src="{% static "img/si-example-1.png" %}" /></div>
    <div class="si-example col-sm-6"><img class="img-responsive" src="{% static "img/si-example-2.png" %}" /></div>
    <div class="si-example col-sm-6"><img class="img-responsive" src="{% static "img/si-example-3.png" %}" /></div>
    <div class="si-example col-sm-6"><img class="img-responsive" src="{% static "img/si-example-4.png" %}" /></div>
</div>
