{% extends "base.html" %}

{% block head_extra %}
    <link rel="canonical" href="http://www.waterday.org{{ share_image.get_absolute_url }}" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@water">
    <meta name="twitter:creator" content="@water">
    <meta name="twitter:title" content="Celebrate World Water Day">
    <meta property="og:title" content="Celebrate World Water Day"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://www.waterday.org{{ share_image.image.url }}"/>
    <meta name="twitter:image" content="http://www.waterday.org{{ share_image.image.url }}">
    <meta property="og:url" content="http://www.waterday.org{{ share_image.get_absolute_url }}"/>
    <meta property="og:site_name" content="Water Day"/>
    <meta property="og:description" content="To celebrate World Water Day, do something that reminds you to be grateful for all the good things water gives you and tell us about it at WaterDay.org">
    <meta name="twitter:description" content="To celebrate World Water Day, do something that reminds you to be grateful for all the good things water gives you and tell us about it at WaterDay.org">
    <meta property="fb:app_id" content="179415965430010"/>
{% endblock %}

{% block main %}
    <div class="si-detail col-md-8 col-md-offset-2">
        <h1 class="si-detail-title">Share Your Photo</h1>
        <p class="si-detail-copy">Show others how you're celebrating World Water Day.</p>
        <img class="share-image img-responsive" src="{{ share_image.image.url }}" />
        <div class="row">
            <div class="share-button-wrap col-sm-6">
                <a class="share-button button-default btn" target="_blank" href="https://twitter.com/intent/tweet?text={{ twitter_share_text_encode }}&url={{ share_image_url_encode }}">SHARE ON <i class="fa fa-twitter"></i></a>
            </div>
            <div class="share-button-wrap col-sm-6">
                <a class="share-button button-default btn" target="_blank" href="https://www.facebook.com/sharer/sharer.php?m2w&s=100&p[url]={{ share_image_url_encode }}&p[images][0]=http%3A%2F%2Fwww.waterday.org{{ share_image.image.url|urlencode:"" }}&p[title]=Celebrate+World+Water+Day">SHARE ON <i class="fa fa-facebook-square"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="wd-home"><a class="wd-home-button button-default btn" href="/">Back to WaterDay.org</a></div>
        </div>
    </div>
{% endblock %}
